/* header.css */

.navbar {
    background-color: #fff; 
  }
  
  .d-flex.align-items-center.header-container {
    margin-left: 200px; 
  }
  
  .ml-auto.d-flex.align-items-center.header-container {
    margin-right: 200px; 
  }
  
  .nav-item {
    margin-right: 50px; 
  }
  
  .nav-item-spacing {
    margin-right: 50px; 
  }
  
  .navbar-nav .nav-item:hover .nav-link {
    color: red;
  }
  